.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    body {
        transform: rotate(90deg);
        width: 500px;
    }

    section{
        width: 500px;
    }

    #exampleModal{
        margin: 7%;
    }
}
