.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    body {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 500px;
    }

    section {
        width: 600px;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 5389cac6a1f61aa2e2c16795431827198a0987a4
